header,body {
    text-align: center;
}
body {
    font-family: cursive;
    background-image: url();
}
hr {
    height: 2px;
    background-color: rgb(77, 167, 42);
    border-color: rgb(22, 145, 11);
}
.mybood {
    width: 80%;
    background-color: rgba(0, 4, 255, 0.39);
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    border: 20px outset black;
}
label{
    display: block;
}
header{
    color: rgba(3, 12, 36, 0.829);
    font-family: fantasy;
    padding: 3px;
    background-color: rgb(7, 110, 110);
}
fieldset{
    margin-left: 300px;
    margin-right: 300px;
    border: none;
}
button{
    color: red;
}
textarea{
    width: 40%;
    margin: 15px 0 0 0;
}
input[type="submit"]{
    background-color: maroon;
    margin: auto;
    font-size: 1.0rem;
    width: auto;
}
}