body {
    text-align: center;
    font-family: cursive;
}
hr {
    height: 2px;
    width: 60%;
    background-color: rgb(182, 185, 180);
    border-color: rgb(253, 253, 253);
}
.pee3{
    border-bottom: double;
    width: 60%;
    margin: auto;
}
.mybood {
    width: auto;
    height: auto;
    text-align: center;
    color: antiquewhite;
    background-color: black;
    margin: 0 3px;
    padding: 20px;
    border: 10px solid black;
    border-radius: 50px;
}
.one{
    width: 800px;
    margin: auto;
    background-color: rgb(6, 78, 56);
    border-radius: 5px;
    transform: rotate(-3deg)
}
.two{
    background-color: rgb(11, 56, 41);
    width: 600px;
    margin: auto;
    border-radius: 5px;
    transform: rotate(5deg);
}
.three{
    background-color: rgba(127, 255, 212, 0.199);
    width: 600px;
    margin: auto;
    border-radius: 30px;
    transform: rotate(10deg);
}
label{
    display: block;
}
header{
    color:rgb(163, 29, 216);
    font-family: fantasy;
    margin-left: 100px;
    margin-right: 100px;
    padding: 3px;
    background-color: rgb(7, 2, 49);
    border: 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;   
}
fieldset{
    margin: auto;
    border: none;
}
textarea{
    display:block;
    color: azure;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    max-width: 200px;
    min-width: 10px;
    background-color: rgba(39, 24, 1, 0.568);
    border: 10px;
    border-color: rgb(112, 104, 104);
    border-radius: 20px 20px 10px 10px ;
}
input[type="submit"]{
    background-color: rgb(11, 2, 49);
    margin: auto;
    font-size: 1.0rem;
    width: auto;
    border: 1px solid whitesmoke;
    color: aliceblue;
}
h2{
    border: 20px;
    width: 60%;
    border-bottom: double;
    margin-left: auto;
    margin-right: auto;
}
input:hover{
    color: blueviolet;
}
